:root {
    --color-primary: #fde400;
    --color-secondary: #fff;
}

* {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}

body {
    background: #ffffff;
}

 /* ---------------------------------------------- header ---------------------------------------------- */

header {
    padding: 20px 8%;
    border-bottom: 4px solid #7a7a7a11;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

section{
    padding: 70px 8%;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: black;
}

.logo {
    font-weight: bold;
    font-size: 20px;
    transition: 0.5ms;
}

.logo:hover{
    color: var(--color-primary);
}

.logo-div {
    width: 30%;
}

.logo span {
    color: var(--color-primary);
}

ul {
    display: flex;
    width: 40%;
    justify-content: center;
    list-style: none;
}

ul li {
    padding: 10px 25px;
}

ul li a {
    text-decoration: none;
    color: #999;
    transition: 0.5s;
    font-size: 14px;
}

ul li a:hover {
    background: var(--color-primary);
    padding: 14px;
    color: #111111;
    font-weight: bold;
    border-radius: 20px;
}

.btn-header {
    width: 30%;
    display: flex;
    justify-content: end;
}

.btn {
    font-weight: bold;
    color: #111111;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 14px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow:  5px 5px 30px rgb(0,0,0,0.1);
}

.btn:hover {
    background-color: var(--color-secondary);
    transform: scale(1.1) rotate(5deg);
}


/* ------------------------------------------hero section------------------------------------------- */

.home-section {
    display: flex;
    justify-content: center;
    width: 100%;
}

.left {
    position: relative;
    height: 600px;
    width: 600px;
}

.home-section .left img {
    position: absolute;
    object-fit: cover;
    border: 8px solid var(--color-secondary);
    border-radius: 2rem;
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
}

.home-section .left-image-1 {
    width: 450px;
    height: 500px;
    transition: 0.5s;
}

.home-section .left-image-2 {
    width: 350px;
    height: 350px;
    top: 150px;
    left: 250px;
    transition: 0.5s;
}

.home-section .left-image-1:hover {
    transform: scale(1.1) rotate(5deg);
}

.home-section .left-image-2:hover{
    transform: scale(1.1) rotate(-5deg);
}

.home-section .right {
    margin-left: 100px;
    width: 30%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.home-section .right .text-right {
    color: var(--color-primary);
    font-weight: bold;
}

.home-section .right h1 {
    margin: 20px 0;
    font-size: 30px;
    font-weight: bold;
    line-height: 50px;
    transition: 0.5 ease;
}

.home-section .right .text-right:hover {
    border-bottom: 2px solid var(--color-primary);
}


.home-section .right p {
   margin-bottom: 25px;
   color: #999;
}


/* -----------------------------------------login & signin--------------------------------------------- */

.form{
    background: rgb(218, 218, 218);
    box-shadow: 5px 5px 30px rgba(0,0,0,0.1);
    width: 100%;
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
}

.form .formulaire {
    background: white;
    width: 30%;
    padding: 20px;
    border-radius: 1rem;
}

.form .formulaire form {
    padding: 20px;
}

.form .formulaire form .int {
    display: grid;
}

.form .formulaire form .int input {
    padding: 10px;
    border-radius: 30px;
    margin-bottom: 15px;
    border: 2px solid #999;
    outline: none;
}

.form .formulaire form .int input:hover{
    border: 2px solid var(--color-primary);
}

.form .formulaire form button {
    width: 100%;
    padding: 10px;
    border-radius: 30px;
    background: var(--color-primary);
    border: none;
    font-weight: bold;
    font-size: 18px;
    margin-top: 1rem;
}

.form .formulaire form button:hover {
    
}

.form .formulaire form button span {

}

.form .formulaire form p {

}

.form .formulaire form p a {
   
}


/* ------------------------------------------------Explore-----------------------------------------------*/

.destination .desc {
    place-items: center;
    text-align: center  ;
    justify-content: center;
    align-items: center;
}

.destination .desc .bordur {
    width: 25%;
    height: 4px;
    background-color: var(--color-primary);
    place-items: center;
    text-align: center  ;
    justify-content: center;
    align-items: center;
    margin: 10px;
    border-radius: 70px;
    opacity: 10px;
}

.destination .desc-button {
    display: flex;
    justify-content: space-between;
    margin: 30px 0;
}


.destination .small-desc {
    color: #999;
    width: 60%;
}

.destination .galeries {
    display: flex;
    justify-content: space-between;
    padding: 25px;
}

.destination .galeries .image {
    width: 30%;
    display: grid;
    height: 345px;
    border-radius: 1rem;
    box-shadow: 5px 5px 30px rgba(58, 58, 36, 0.1);
    overflow: hidden;
    position: relative;
    cursor: pointer;
    background-color: #fff;
    padding: 20px;
    transition: 0.5s;
}

.destination .galeries .image:hover {
    transform: scale(1.1);
}

.destination .galeries .image h3 {
    color: #1d1d1d;
}

.destination .galeries .image p {
    color: #999;
}

.destination .galeries .image p br {
    font-weight: 600;
    color: black;
}


.destination .galeries .image img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 1rem;
}

.destination .plus {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
}

.destination .plus button {
    font-weight: bold;
    color: #111111;
    background: var(--color-primary);
    border: 2px solid var(--color-primary);
    padding: 14px;
    border-radius: 20px;
    transition: 0.5s;
    cursor: pointer;
    box-shadow:  5px 5px 30px rgb(0,0,0,0.1);
}

.destination .plus button:hover {
    background-color: var(--color-secondary);
    transform: scale(1.1) rotate(5deg);
}

/* ----------------------------------------------Send e-mail--------------------------------------- */

.email-contact{
    align-items: center;
    justify-content: center;
    display: flex;
    border-bottom: 4px solid #c0c0c0;
}



.email-trip h1 {
    margin-bottom: 20px;
}

.email-trip .title-h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.email-trip p {
    font-size: 14px;
    color: #999;
}

.email-trip .envoie {
    display: flex;
}
.email-trip .envoie .together {
    display: flex;
    justify-content: space-between;
}

.email-trip .envoie .together .text {
    width: 500px;
}

.input {
    width: 50%;
    border: #fff;
    box-shadow: 5px 5px 30px rgba(58, 58, 36, 0.1);
    height: fit-content;
    display: flex;
    justify-content: space-between;
    border-radius: 20px;
}

.input input {
    border: 0;
    padding: 12px;
    padding-left: 20px;
    width: 400px;
    outline: none;
}

.input input::placeholder {
    font-weight: 600;
    font-family: "Poppins", sans-serif;
}

.input input::placeholder::content {
    font-weight: 600;
}


/* ---------------------------------------footer------------------------------------- */ 
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
}


.footer p {
    color: #999;
}


/*------------------------------------ Pricing ----------------------------------------------------------*/
